/* Buton primary */
.Convert {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: self-start;
  align-items: center;
}
.Convert .item {
  min-width: 85px;
  padding: 0 1rem 0 0;
}

@media screen and (max-width: 768px) {
  .Convert {
    justify-content: center;
    grid-gap: 0;
  }
  .Convert .item {
    min-width: 65px;
    padding: 0 0.5rem 0 0;
  }
}
