.Button {
  transition: ease-in 300ms all;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}
.Button img {
  margin-right: 0.25rem;
  width: 18px;
}
.Button span {
  margin-left: 0.25rem;
}
.primary {
  background-color: #8166cc;
  color: #fff;
}
.primary:hover {
  background-color: #37246b;
}

.secondary {
  background-color: #171719;
  color: #fff;
}

.dark {
  background-color: #46464c;
  color: #fff;
}
.dark:hover {
  background-color: #171719;
}

.loading {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.8); 
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}


@keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}