.Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  padding: 0 4rem;
  /* background-color: #fff; */
  padding: 1.5rem 1rem;
}

.icon {
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.8); 
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.Loading p {
  margin: 0.25rem;
}


@keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
